<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gold Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body class="bg-light">
    <div class="container-md">
        <main>
            <div class="row mt-4 px-3 h2 bg-dark text-white py-2">
                Gold: {{session['gold']}} (Get 500 golds in less than 15 movements)
            </div>

            {% if session['result'] == "win" %}
            <div class="row mt-0 px-3 h2 text-white">
                <p class="bg-primary text-white">You win!</p>
                <a class="col-2 col-lg-1 btn btn-danger" href="/restart">Restart</a>
            </div>
            {%endif%} {% if session['result'] == "lose" %}
            <div class="row mt-0 px-3 h2 text-white">
                <p class="bg-danger text-white">You lose!</p>
                <a class="col-2 col-lg-1 btn btn-danger" href="/restart">Restart</a>
            </div>

            {%endif%} {% if session['result'] == "" %}
            <div class="row justify-content-center my-4 g-2">
                <div class="col-sm-3">
                    <div class="card text-center">
                        <h6 class="card-header">Farm</h6>
                        <form action="/process_money" method="post" class="py-5">
                            <input type="hidden" name="building" value="farm.10.20" />
                            <p>(earns 10-20 golds)</p>
                            <input class="btn btn-warning text-light my-2" type="submit" value="Find Gold" />
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center">
                        <h6 class="card-header">Cave</h6>
                        <form action="/process_money" method="post" class="py-5">
                            <input type="hidden" name="building" value="cave.5.10" />
                            <p>(earns 5-10 golds)</p>
                            <input class="btn btn-warning text-light my-2" type="submit" value="Find Gold" />
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center">
                        <h6 class="card-header">House</h6>
                        <form action="/process_money" method="post" class="py-5">
                            <input type="hidden" name="building" value="house.2.5" />
                            <p>(earns 2-5 golds)</p>
                            <input class="btn btn-warning text-light my-2" type="submit" value="Find Gold" />
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center">
                        <h6 class="card-header">Casino</h6>
                        <form action="/process_money" method="post" class="py-5">
                            <input type="hidden" name="building" value="casino.-50.50" />
                            <p>(earns/takes 0-50 golds)</p>
                            <input class="btn btn-warning text-light my-2" type="submit" value="Find Gold" />
                        </form>
                    </div>
                </div>
            </div>
            {%endif%}

            <div class="overflow-scroll p-4 border border-2 border-warning rounded-3 containerResults">
                <h3>Activity</h3>
                {{session['activity']|safe}}
            </div>
        </main>
    </div>
</body>

</html>